@charset "utf-8";
/* CSS Document */

#wrapper-servere-alt{ /*Rammen til alt på siden*/
	width:1024px;
	height:auto;
}

.wrapper-servere-sektion{
	width:560px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

.servere-overskrift{
	width:560px;
	height:35px;
	border-bottom:1px solid #666;
}

p.s-overskrift{
	margin-top:0px;
	font: 30px Impact, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.wrapper-s-tekst{
	font: 18px Verdana;
	text-align:left;
	width:560px;
	height:auto;
	border-bottom:1px solid #666;
	padding-bottom: 25px;
	margin-bottom: 25px;
	display:inline-block;
}