@charset "utf-8";
/* CSS Document */

/*Turneringer.html*/
#wrapper-turnering-alt{ /*Rammen til alt på siden*/
	width:1024px;
	height:auto;
	display: inline-block;
}

#wrapper-turneringsoversigt{ /*Rammen til den venstre-del af siden*/
	width:603px;
	height:auto;
	float:left;
}

/*Overskriften til turneringssiden*/
#turnering-overskrift{
	width:542;
	height:35px;
	margin-left:61px;
	border-bottom:1px solid #666;
}

p#t-overskrift{
	margin-top:0px;
	text-align:left;
	font: 30px "Trebuchet MS", Helvetica, sans-serif;
}

/*Turnerings-billederne - Gaelder alle kategorierne*/
.turnerings-billede{ /*Gaelder for alle billederne på turnerings-siden*/
	width:542px;
	height:100px;
	border-radius:10px;
	margin-left:61px;
	padding-top:30px;
}

.turnerings-billede#turnerings-billede-leagueoflegends{ /*Gaelder for alle billederne på turnerings-siden*/
	padding-top:9px !important;
}

.turnerings-billede img{ /*Gaelder for alle billederne på turnerings-siden*/
	border-radius:10px;
	border:double 1px #CCC;
}

.turnerings-billede img:hover{ /*Gaelder for alle billederne på turnerings-siden*/
	cursor:pointer;
	opacity:0.6;
	border-width:2px;
}

/*Informations-boksen til hoejre*/
#turnering-informationer{
	width:420px;
	height:auto;
	float:left;
	margin-left:1px;
	margin-top:0px;
}

#wrapper-turnering-info-overskrift{
	width:298px;
	height:35px;
	margin:auto;
	border-bottom:1px solid #666;
}

#wrapper-nyheder{
	width:298px;
	height:26px;
	margin-top:10px;
}

#wrapper-nyheder span{
	cursor:default;
	font:30px FrizQuadrata;
}

.turnering-info{
	width:250px;
	height:341px;
	margin:auto;
	background-image:url(../imgs/login-baggrund.jpg);
	font:Arial, Helvetica, sans-serif;
	/*font-weight:bold;*/
	font-size:14px;
	color: #000;
	text-decoration:none;
	padding-left:22px;
	padding-right:26px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 0px 0px 15px 5px #333;
	border-radius:10px;
	margin-top:10px;
	overflow: auto;
}


/**********************************************/

.besked {
	text-align: left;
	padding-top: 0;
	width: 230px;
	margin: 10px 5px;
	background-color: rgba(100,100,100,0.5);
	border-radius: 0 0 5px 5px;
	font-weight: normal;
}

.besked a{
	color: #FFFFFF;
	text-decoration:none;
	
	text-shadow:1px 1px 2px #6F6965,
				-1px -1px 2px #6F6965,
				1px -1px 2px #6F6965,
				-1px 1px 2px #6F6965,
				0px 1px 2px #6F6965,
				1px 0px 2px #6F6965,
				0px -1px 2px #6F6965,
				-1px 0px 2px #6F6965;
}

.besked a:hover {
	text-shadow:1px 1px 2px #FFFFFF,
				-1px -1px 2px #FFFFFF,
				1px -1px 2px #FFFFFF,
				-1px 1px 2px #FFFFFF,
				0px 1px 2px #FFFFFF,
				1px 0px 2px #FFFFFF,
				0px -1px 2px #FFFFFF,
				-1px 0px 2px #FFFFFF;
				
	cursor: pointer;
}

.besked .top {
	height: 15px;
	background-color: rgba(80, 80, 80, 0.5);
	font-size: 12px;
	padding: 0 5px;
}

.besked .content {
	padding:5px;
	font-size: 12px;
}

.unread {
	border: 3px solid black;
}

.read {
	border: 1px solid black;
}


#team-container {
	min-width:300px;
	display: inline-block;
	max-height: 400px;
	max-width:600px;
	overflow:auto;
}


#team-container a{
	font-size: 1.5em;
}

#team-container .team{
	display:inline-block;
	margin:10px;
	text-align:center;
}


.join-page#outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.join-page#middle {
	display: table-cell;
    vertical-align: middle;
}

.join-page#inner {
	margin-left: auto;
    margin-right: auto;
	display: inline-block;
	
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px;
	box-shadow: 0px 0px 3px 2px #000000;
	border-radius: 7px;
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.join-page#inner a{
	color: #FFFFFF;
	text-decoration:none;
	
	text-shadow:1px 1px 2px #6F6965,
				-1px -1px 2px #6F6965,
				1px -1px 2px #6F6965,
				-1px 1px 2px #6F6965,
				0px 1px 2px #6F6965,
				1px 0px 2px #6F6965,
				0px -1px 2px #6F6965,
				-1px 0px 2px #6F6965;
}

.join-page#inner a:hover{
	text-shadow:1px 1px 2px #FFFFFF,
				-1px -1px 2px #FFFFFF,
				1px -1px 2px #FFFFFF,
				-1px 1px 2px #FFFFFF,
				0px 1px 2px #FFFFFF,
				1px 0px 2px #FFFFFF,
				0px -1px 2px #FFFFFF,
				-1px 0px 2px #FFFFFF;
				
	cursor: pointer;
}


.join-page#inner .delico{
	display: inline-block;
	margin-right:5px;
}



.text-outline-black {

	text-shadow:1px 1px 0 #000000,
				-1px -1px 0 #000000,
				1px -1px 0 #000000,
				-1px 1px 0 #000000,
				0px 1px 0 #000000,
				1px 0px 0 #000000,
				0px -1px 0 #000000,
				-1px 0px 0 #000000;
}

.text-outline-white {
	text-shadow:1px 1px 0 #fff,
				-1px -1px 0 #fff,
				1px -1px 0 #fff,
				-1px 1px 0 #fff,
				0px 1px 0 #fff,
				1px 0px 0 #fff,
				0px -1px 0 #fff,
				-1px 0px 0 #fff;
}

.text-blur-white {
	text-shadow:1px 1px 2px #fff,
				-1px -1px 2px #fff,
				1px -1px 2px #fff,
				-1px 1px 2px #fff,
				0px 1px 2px #fff,
				1px 0px 2px #fff,
				0px -1px 2px #fff,
				-1px 0px 2px #fff;
				
	color: #2E2D2D;
}
